p {
    background-color: aqua;
    color: black
}

a {
    background-color: blanchedalmond;
    color: rgb(225, 220, 221);
}

div {
    background-color: yellow;
}

a {
    background-color: blueviolet;
}